<!DOCTYPE html>
<html lang="en">
<head>
  <title>Client Edit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <h2>{{pageTitle}}</h2>
  <form class="form-horizontal" 
        [formGroup]="clientForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="firstNameId">First Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstNameId"  formControlName="firstName">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lastName">Last Name:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="lastName"  formControlName="lastName">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="clientAddress">Address:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="clientAddress"  formControlName="address">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="clientCity">City:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="clientCity"  formControlName="city">
      </div>
    </div>
    <h2>Product Orders</h2>
    <div formArrayName="productForm">
      <div [formGroupName]="i"
      *ngFor="let prod of productForm.controls; let i=index">
        <div class="form-group">
          <label class="control-label col-sm-2" attr.for="{{'nameId' + i}}">Product:</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="{{'nameId' + i}}"  formControlName="name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" attr.for="{{'priceId' + i}}">Price:</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="{{'priceId' + i}}"  formControlName="price">
          </div>
      </div>
    </div>
</div>
  </form>
  <!-- <form class="form-horizontal" 
  [formGroup]="productForm">
  <div class="form-group">
    <label class="control-label col-sm-2" for="prodNameId">Product Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="prodNameId"  formControlName="productName">
    </div>
  </div>
  </form> -->

</div>
<div class="col-md-2">
  <button class="btn btn-outline-primary btn-sm"
  (click)="onSaveComplete()">
    Back to Client List
  </button>
</div>
<div class="col-md-2">
  <button class="btn btn-outline-primary btn-sm"
  (click)="runUpdates()">
    Save Changes
  </button>
</div>
<div class="col-md-2">
  <button class="btn btn-outline-primary btn-sm"
  (click)="deleteClient()">
    Delete
  </button>
</div>

<!-- <br>Product: {{productIds.get('0.name')?.value}}
<br>Price: {{productIds.get('0.price')?.value}} -->

</body>
</html>
