  <div class="card">
    <div class="card-header">
     <h2> {{pageTitle}} </h2>
    </div>
    <div class="card-body">
  
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>High Priority</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clientList">
              <td>
                <a [routerLink]="['/clientDetails', client.id]">{{client.firstName}}</a>
              </td>
              <td>{{client.lastName}}</td>
              <td>{{client.address}}</td>
              <td>{{client.city}}</td>
              <td>
                {{client.state}}
              </td>
              <td>
                {{client.productOrders}}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-2">
          <button class="btn btn-outline-primary btn-sm"
          (click)= "onCreate()">
            Create New Client
          </button>
        </div>
      </div>
  
    </div>
  </div>
